#CancelIcon {
  color: "unset!important";
}

.selectDiv {
  border-radius: 4;
  box-shadow: 1px 1px 3px lightgray;
  text-align: left;
}

.saveBtn {
  color: #fff;
  background: #E72D38;
  width: 100%;
  border-radius: 20;
  padding: 1em;
  border: none;
  letter-spacing: 0.2em;
  font-weight: bold;
}